body{
    margin:0;
    padding: 0;

    
}
    #main{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding:0;
        background-color: #AAAAAA;

           }
    #back{
        background-image: url("./images/linktemplo.jpg");
        width: 100%;
        text-align: center;
        
        color: #EEE;
        background-size: cover;
        background-position: center;
        top:-10%;
        padding: 20px;
        text-transform: uppercase;
        margin:0;
        padding: 0;
        height: 20rem;
        


    }
    #call{
        width: 100%;
        text-align: center;
        background-color: firebrick;
        color: #EEE;
        text-transform: uppercase;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: small;
        letter-spacing: 2em;
    }
    h1,
        h2 {
            font-size: medium;
            margin: 0.3rem;
            font-weight: 500;
        }
        h1{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-transform: uppercase;
            letter-spacing: 0.5rem;
        }

    

        .header {
            
            display: flex;
            align-items: center;
            flex-direction: column;
            left: 0;
            top: 0;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            




        }
        .header img{
            height: 2em;
      
        }

 
    


    .joy-con {
        position: relative;
        top: 0;
        width: 8em;
        height: 100px;
        backface-visibility: hidden;
        border: 0;
        padding-top: 20px;
        padding-right: 5px;
        margin-left:-15px;
        margin-bottom: 20px;    
    }
    
    
    
    
    .button-group {
        position: relative;
        left: 50%;
        width: 45%;
        padding-bottom: 45%;
        transform: translateX(-50%);
    }
    
    .left .button-group {
        top: 5.375em;
        margin-left: 2.5%;
    }
    
    .right .button-group {
        top: 2.125em;
        margin-left: -2.5%;
    }
    
    .button {
        position: absolute;
        width: 1.5em;
        height: 1.5em;
        margin: -.75em;
        color: rgba(255,255,255,0.6);
        
        
        border-radius: 100%;
        box-shadow:
        inset 0 -0.0625em 0.125em rgba(0,0,0,0.75),
        inset 0 0.125em 0.125em -0.0625em rgba(255,255,255,0.4),
        0 0 0.03125em 0.0625em rgba(0,0,0,0.6),
        0 0.0625em 0.25em 0.03125em rgba(0,0,0,0.5);
        cursor: pointer;
    }
    
    .button:active {
        box-shadow:
        inset 0 -0.0625em 0.125em rgba(0,0,0,0.75),
        inset 0 0.125em 0.125em -0.0625em rgba(255,255,255,0.4),
        0 0 0.03125em 0.0625em rgba(0,0,0,0.6);
    }
    
    .button:nth-child(1) {
        top: 0;
        left: 50%;
        background-color: orange;
    }
    
    .button:nth-child(2) {    
        top: 50%;
        right: 0;
        background-color: orange;
    }
    
    .button:nth-child(3) {
        bottom: 0;
        left: 50%;
        background-color: mediumblue;
    }
    
    .button:nth-child(4) {
        top: 50%;
        left: 0;
        background-color: green;
    }

    .button:nth-child(5) {
        top: 0%;
        left: 150%;
        background-color: orange;
    }

    .button:nth-child(6) {
        top: -50%;
        left: 100%;
        background-color: orange;
        
       
    }
    
    .button.arrow::before,
    .button.arrow::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 0.125em solid transparent;
        border-bottom: 0.25em solid rgba(255,255,255,0.1);
        border-top: none;
    }
    
    .button.arrow::after {
        top: calc(50% - 0.03125em);
        border-bottom: 0.25em solid #272b2d;
    }
    
    .button.arrow.right::before,
    .button.arrow.right::after {
        margin-left: 0.03125em;
        transform: translate(-50%, -50%) rotate(90deg);
    }
    
    .button.arrow.down::before,
    .button.arrow.down::after {
        margin-top: 0.03125em;
        transform: translate(-50%, -50%) rotate(180deg);
    }
    
    .button.arrow.left::before,
    .button.arrow.left::after {
        margin-left: -0.03125em;
        transform: translate(-50%, -50%) rotate(270deg);
    }
    
    .button.letter::before {
        content: attr(data-letter);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.8em;
        line-height: 1;
    }
    
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #777777;
        color: #AAAAAA;
        padding-top: 10px;
        left: 0;
        bottom: 0;
        width: 100%;
      

    }

    footer span{
        font-size: small;
        padding: 5px;
        text-align: center;
        max-width: 500px;
    }
    footer a{
        text-decoration: none;
        color: #CCCCCC;
    }
    strong{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 200;
        font-size: x-small;
        color: #CCC;
    }